<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

    <div class="sidebar-item">
        <h1>Tags</h1>
        <div>
            {% include tagcloud.html %}
        </div>
    </div>

    <div class="sidebar-item">
        <h1>Category</h1>
        {% assign categories = site.categories | sort %}
        {% for category in categories %}
        <div>
            <a href="{{ site.url }}/category/{{ category | first | slugify }}">
                {{ category[0] }}
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="sidebar-item">
        <p>
            &copy; {{ site.time | date: '%Y' }}. All rights reserved.
        </p>
    </div>
</div>
